.container{
    overflow: auto;
}

.form{
    width: 60vw;
    min-width: 250px;
    margin: 0 auto;
}

.submit-btn{
    width: 50% !important;
    height: 45px !important;
    margin: 15px auto;
}

.card-container{
    width: 50vw !important;
    min-width: 350px !important;   
}